header {
	display:flex;
	flex-direction: column;
	height: 400px;
	width: 100%;
	justify-content: center;
	align-items: center;
	background-color: #D7E5F0;
	background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
}