.new-tweet label {
	padding-top: 5px;
	margin-bottom: 10px;
	font-size: 1.2em;
}

.tweetform {
	border: 3px solid #008ECC;
	color: black;
	width: 100%;
}

.new-tweet button[type="submit"] {
	font-family: 'Bungee', sans-serif;
	background-color: #008ECC;
	border-radius: 5px;
	border: none;
	color: white;
	cursor: pointer;
}

.new-tweet button:hover {
	box-shadow: 2px 2px 5px blue;
	transition: all 0.3s ease;
}

footer {
	display: flex;
	padding-top: 15px;
	justify-content: space-between;
	align-items: center;
}

.counter {
	font-family: 'Bungee', sans-serif;
}

.negativeCount {
	color: red
}

/* error messages for invalid tweets */
.error-message {
	display: none;
	background-color: #f898b2;
	color: #fc1c32e1;
	border: 1px solid #fc1c32e1;
	padding: 10px;
	border-radius: 5px;
	margin: 5px;
	font-size: 12px;
}